@keyframes spinning {
  100% {
    transform: rotate(1turn);
  }
}

.spinner-wrapper {
  @include flex-center;
  width: 100%;
}

.spinner {
  display: grid;
  height: 4rem;
  width: 4rem;

  &::before,
  &::after {
    animation: spinning 1.4s infinite linear;
    border: 0.9rem solid;
    border-color: var(--color-primary) var(--color-primary) var(--color-light)
      var(--color-light);
    border-radius: 50%;
    content: '';
    grid-area: 1/1;
    mix-blend-mode: darken;
  }

  &::after {
    animation-direction: reverse;
    border-color: var(--color-dark-300) var(--color-dark-300) var(--color-light)
      var(--color-light);
  }
}
