.team-members-illustration {
  display: block;
  height: 100%;
  margin-inline: auto;
  width: 80%;
  @include animate-blob-element('blob-element');

  @include media-query('md') {
    width: 70%;
  }

  @include media-query('lg') {
    bottom: 50%;
    left: -40%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
}

.team-members-wave {
  display: none;

  @include media-query('xl') {
    display: block;
    position: absolute;
    right: -10%;
    top: 0;
  }
}
