.modal {
  background: none;
  background-color: var(--modal-overlay-color);
  border: 0;
  column-gap: 2rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
  height: 100%;
  inset: 0;
  padding: 0;
  place-content: center;
  position: fixed;
  width: 100%;

  &__button {
    background-color: var(--color-secondary);
    border: 0;
    border-radius: 50%;
    color: var(--color-light);
    cursor: pointer;
    height: 4rem;
    justify-self: center;
    opacity: 1;
    position: absolute;
    top: 2rem;
    transform: translateY(0);
    transition: opacity 1s ease, transform 1s ease;
    width: 4rem;
    z-index: 1;
    @include flex-center;

    &--animated:not(:hover, :focus) {
      opacity: 0;
      transform: translateY(-50%);
    }
  }
}
