.academy-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @include media-query('md') {
    align-items: flex-start;
    gap: 6rem;
  }

  &__inputs-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }

  &__heading {
    @include heading-styles('secondary');
    margin: 0;
  }

  &__button-wrapper {
    padding-bottom: 3rem;
    position: relative;
    width: 100%;
  }

  &__error {
    @include body-styles('medium', var(--color-red-300));
    bottom: 0;
    display: block;
    position: absolute;
    text-align: center;

    @include media-query('md') {
      text-align: left;
    }
  }
}
